# Ignore model weights and temporary files
football_project/model/best.pt
*.mp4
*.avi

# Ignore all videos json EXCEPT the final output
football_project/videos/*.json
!football_project/videos/tacticam_to_broadcast_id_map.json

# Python cache and environments
__pycache__/
*.pyc
.venv/
.env/
.vscode/
